{% extends 'base.html.twig' %}

{% block title %}Series list{% endblock %}

{% block body %}
<div class="mt-1">
    
    <ul class="list-group">
        {% for serie in series %}
            <li class="list-group-item">{{ serie }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('series_create') }}" class="btn btn-dark mb-3 mt-3">Create new</a>

</div>
{% endblock %}
